<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SAFAQAT</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>


    <!-- Permission options for the `camera` group -->
    <key>NSCameraUsageDescription</key>
    <string>Safaqat wants to capture your profile picture</string>

	<!-- Permission options for the `photos` group -->
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Safaqat wants access gallery for your profile picture</string>

    <key>NSContactsUsageDescription</key>
    <string>Safaqat wants to access this to show people on map</string>

    <key>NSCalendarsUsageDescription</key>
    <string>Safaqat wants to access this to add maps event on calendar</string>

    <key>NSAppleMusicUsageDescription</key>
    <string>Safaqat wants to access this to save GPS audio</string>
    
    <key>FacebookClientToken</key>
    <string>55f29ed5dc374a7a6b5ff389d382cc8b</string>

    <key>NSMotionUsageDescription</key>
    <string>Safaqat wants to use this to track your live location</string>

    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Safaqat wants to access your microphone to search on map</string>

    <key>NSLocationAlwaysUsageDescription</key>
    <string>Safaqat wants to locate you on map</string>

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Safaqat wants to track your location on map</string>

    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>Safaqat wants to have access to your bluetooth</string>

    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Safaqat wants to track your current location on map</string>

    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Safaqat wants to have access to your bluetooth</string>






    <!-- Facebook Login configuration -->
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>fb950110338385665</string>
                </array>
            </dict>
        </array>
        <key>FacebookAppID</key>
        <string>950110338385665</string>
        <key>FacebookDisplayName</key>
        <string>Login test</string>

        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>fbapi</string>
            <string>fb-messenger-share-api</string>
            <string>fbauth2</string>
            <string>fbshareextension</string>
        </array>
</dict>
</plist>
