<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833878694949-ah8sr2ho29c114691hh9qd930komnub8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833878694949-ah8sr2ho29c114691hh9qd930komnub8</string>
	<key>API_KEY</key>
	<string>AIzaSyBbwwjPhH8eWK-E2iPiPL6qcYctX5PKbak</string>
	<key>GCM_SENDER_ID</key>
	<string>833878694949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safaqat.app</string>
	<key>PROJECT_ID</key>
	<string>safaqat-8b934</string>
	<key>STORAGE_BUCKET</key>
	<string>safaqat-8b934.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833878694949:ios:210550f8ecd70bd07773cc</string>
</dict>
</plist>